
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
    font-family: "Raleway thin";
    src: url(../fonts/11855.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background: url(../image/Photo.png);
    background-size: 100vw 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.item {
    color: white;
    background: transparent;
    border: none;
}
.item-parent {
    width: 30vw;
}
#down-arrow {
    align-self: flex-end;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#left-arrow, #right-arrow {
    width: 20vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#left-arrow::before {
    content: url("../image/Left arrow.png");
    background-color: transparent;
}
#right-arrow::before {
    content: url("../image/Right\ arrow.png");
    background-color: transparent;
}
#down-arrow::after {
    content: url("../image/Down\ arrow.png");
    background-color: transparent;
}
.container2 {
    width: 45vw;
    height: 30vh;
    font-family: ProximaNova;
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.item:first-child {
    font-family: "Raleway thin";
    font-size: 6.5vh;
    font-weight: 500;
}
span {
    font-family: Raleway;
    font-weight: bold;
}
input {
    width: 10vw;
    height: 5vh;
    outline: none;
    border: .3vh solid white;
    border-radius: 25vh;
    color: inherit;
    background: none;
    margin-top: 5vh;
    cursor: pointer;
}
a {
    text-decoration: none;
    font-size: 5vh;
}